.item {
    width: 500px;
    color: #353935;
    font-size: 20px;
    margin: 0 auto;
}

.itemName {
    font-weight: bold;
    padding: 20px;
    text-transform: capitalize;
    cursor: default;
}

.line {
    border: 1px solid #f4f4f4;
}

.deleteBtn {
    cursor: pointer;
    float: right;
    padding: 12px 20px;
    border: none;
    font-weight: bold;
    border-radius: 8px;
    background-color: #f7ca18;
    transition: .2s;
}

.deleteBtn:hover {
    background-color: #f7ca18;
    color: rgb(30, 30, 30);
    box-shadow: 1px 1px 0 #ebc116;
}

.completed {
    text-decoration: line-through;
}